html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--primary);
  color: rgb(0, 0, 0);
}

:root {
  --dark_blue: #0c164f
  --light_purple: #7649fe
}

.main {
  background-color: rgb(207, 253, 231);
  font-family: 'Bauhaus Md BT', sans-serif;
}
#form {
  font-size: 5rem;
  display: block;
  text-align: center;
  margin: auto;
  background-color: aquamarine;
  padding: 30px;
  width: 800px;
  border-radius: 30px;
}
#title {
  font-size: 10rem;
  text-align: center;
  margin-bottom: 25px;
}

#cover {
  display: block;
  margin: auto;
  height: 100px
}

#sb {
  background-color: aliceblue;
  padding: 15px 40px;
  border: 10px;
  font-size: 2rem;
  border-radius: 100px;
  transition: all 0.2s;
}